<mat-grid-list cols="4" rowHeight="2:1">
  <!-- Sélection de l'exercice -->
  <mat-grid-tile colspan="4" rowspan="1">
    <form [formGroup]="form">
      <!-- Année -->
      <mat-form-field [style.width.px]=450>
        <mat-label>Veuillez sélectionner une année</mat-label>
        <mat-select formControlName="year" name="year">
          @for (year of years; track year) {
          <mat-option [value]="year">{{ year }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="spacer"></div>
  
      <!-- Exercice -->
      <mat-form-field [style.width.px]=450>
        <mat-label>Veuillez sélectionner un exercice</mat-label>
        <mat-select formControlName="exercise" name="exercise">
          @for (exercise of exercises; track exercise) {
          <mat-option [value]="exercise">{{ exercise.id }} - {{ exercise.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-grid-tile>

  <div *ngIf="isExerciseResolved">
    <!-- Description de l'exercice -->
    <mat-grid-tile colspan="1" rowspan="2">
      <div>
        <p *ngFor="let line of statement">
          {{ line }}
        </p>
      </div>
    </mat-grid-tile>

    <!-- Résultat de l'exercice -->
    <mat-grid-tile colspan="3" rowspan="2">
      <div>
        <h3> 1er exercice : {{ result }}</h3>
        <h3> 2nd exercice : {{ result2 }}</h3>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<router-outlet></router-outlet>